:root {  
    /* カラー */    
    --tBlack: #0f1419;
    --tDarkGray: #0f1419;
    --tDarkGrayOn: #272c30;
    --tLightBlue: #1d9bf0;
    --tLightBlueOn: #1a8cd8;
    --tLightBlueDis: #195d8d;
    --tLightBlueBg:rgba(29, 155, 240, 0.1);
    --tLightGray: #EFF3F4;
    --tLightGrayOn: #d7dbdc;
    --tLightGreen:#00ba7c;
    --tLightGreenOn:#00a770;
    --tLightGreenDis: #0b6d54;
    --tLightGreenBg: rgba(0, 186, 124, 0.1);
    --tOrange: #ff7a00;
    --tOrangeOn: #e66e00;
    --tOrangeDis: #8a4d16;
    --tOrangeBg: rgba(255, 122, 0, 0.1);
    --tPink: #f91880;
    --tPinkOn: #e01673;
    --tPinkDis: #871c56;
    --tPinkBg: rgba(249, 24, 128, 0.1);
    --tPurple: #7856ff;
    --tPurpleOn: #6c4de6;
    --tPurpleDis: #473b95;
    --tPurpleBg:rgba(120, 86, 255, 0.1);
    --tRed: #f4212e;
    --tRedBg: rgba(244, 33, 46, 0.1);
    --tWhite: #fff;
    --tYellow: #ffd400;
    --tYellowOn: #e6bf00;
    --tYellowDis: #8a7a16;
    --tYellowBg: rgba(255, 212, 0, 0.1);

    --favoColor: var(--tLightBlue);
    --favoColorOn: var(--tLightBlueOn);
    --favoColorDis: var(--tLightBlueDis);

    /* テキスト */
    --textMain: var(--tBlack);
    --textMainDis: #8a8f95;
    --textSub: var(--tWhite);
    --textGray: #8899a6;
    --textGrayMarked: #636363;
    

    /* アイテム */
    --wallpaper: var(--tWhite);
    --wallpaperDark: #666;
    --wallpaperBlur: rgba(255, 255, 255, 0.75);
    --inputField: #eff3f4;
    --card: #f7f9f9;
    --cardHighlight: rgba(255, 255, 255, 0.03);
    --borderline: #eff3f4;
    --divHighlight: #f7f7f7;
    --divHighlightDouble: #efefef;
    --itemHighlight: rgba(15, 20, 25, 0.1);
    --shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    --shadowColor: rgba(101, 119, 134, 0.2);
    --mainBtn: var(--favoColor);
    --mainBtnOn: var(--favoColorOn);
    --mainBtnDis: var(--favoColorDis);
    --mainBtnTxt: var(--tWhite);
    --subBtn: var(--tDarkGray);
    --subBtnOn: var(--tDarkGrayOn);
    --subBtnTxt: var(--tWhite);
}
