:root {
    --t-black: #0f1419;
    --t-dark-gray: #0f1419;
    --t-dark-gray-on: #272c30;
    --t-light-blue: #1d9bf0;
    --t-light-blue-on: #1a8cd8;
    --t-light-blue-dis: #195d8d;
    --t-light-blue-bg:rgba(29, 155, 240, 0.1);
    --t-light-gray: #EFF3F4;
    --t-light-gray-on: #d7dbdc;
    --t-light-green:#00ba7c;
    --t-light-green-on:#00a770;
    --t-light-green-dis: #0b6d54;
    --t-light-green-bg: rgba(0, 186, 124, 0.1);
    --t-orange: #ff7a00;
    --t-orange-on: #e66e00;
    --t-orange-dis: #8a4d16;
    --t-orange-bg: rgba(255, 122, 0, 0.1);
    --t-pink: #f91880;
    --t-pink-on: #e01673;
    --t-pink-dis: #871c56;
    --t-pink-bg: rgba(249, 24, 128, 0.1);
    --t-purple: #7856ff;
    --t-purple-on: #6c4de6;
    --t-purple-dis: #473b95;
    --t-purple-bg:rgba(120, 86, 255, 0.1);
    --t-red: #f4212e;
    --t-red-bg: rgba(244, 33, 46, 0.1);
    --t-white: #fff;
    --t-yellow: #ffd400;
    --t-yellow-on: #e6bf00;
    --t-yellow-dis: #8a7a16;
    --t-yellow-bg: rgba(255, 212, 0, 0.1);
}

body.light-blue {
    --color-primary: var(--t-light-blue);
    --color-primary-dis: var(--t-light-blue-dis);
    --color-primary-on: var(--t-light-blue-on);
    --color-primary-bg: var(--t-light-blue-bg);
}

body.light-green {
    --color-primary: var(--t-light-green);
    --color-primary-dis: var(--t-light-green-dis);
    --color-primary-on: var(--t-light-green-on);
    --color-primary-bg: var(--t-light-green-bg);
}

body.orange {
    --color-primary: var(--t-orange);
    --color-primary-dis: var(--t-orange-dis);
    --color-primary-on: var(--t-orange-on);
    --color-primary-bg: var(--t-orange-bg);
}

body.pink {
    --color-primary: var(--t-pink);
    --color-primary-dis: var(--t-pink-dis);
    --color-primary-on: var(--t-pink-on);
    --color-primary-bg: var(--t-pink-bg);
}

body.purple {
    --color-primary: var(--t-purple);
    --color-primary-dis: var(--t-purple-dis);
    --color-primary-on: var(--t-purple-on);
    --color-primary-bg: var(--t-purple-bg);
}

body.yellow{
    --color-primary: var(--t-yellow);
    --color-primary-dis: var(--t-yellow-dis);
    --color-primary-on: var(--t-yellow-on);
    --color-primary-bg: var(--t-yellow-bg);
}